#logo {
    width: 160px;
}

#logo:hover {
    cursor: pointer;
}

.page-header {
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.top-bar {
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    padding-top: 60px;
    vertical-align: bottom;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    font-style: italic;
}

h4 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: top;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
}

h5 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    padding-top: 0px;
    vertical-align: bottom;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    font-style: italic;
}

#Navigator {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

#Navigator a {
    width: auto;
    height: 40px;
    vertical-align: bottom;
    text-align: center;
    line-height: 60px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    text-decoration: none;
    color: currentColor;
    margin-top: 20px;
    margin-bottom: 5px;
    border-bottom: 4px solid transparent;
    white-space: normal;
    line-height: normal;
}

#Navigator a:hover{
    margin-bottom: 5px;
    border-bottom: 4px solid #00AEEF;
}

body{
    margin: 0;
}

p {
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0;
    line-height: 30px;
}

.Content{
    background-color: #00AEEF;
    text-align: center;
    margin: 0, 20%;
    padding-top: 120px;
    height: 600px;
}

#membership {
    margin-top: 0;
    align-items: center;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    line-height: 60px;
    line-height: 2;
    align-items: center;
    justify-content: center;
}

#membership .wrap-text {
    white-space: normal;
    line-height: normal;
}

.submenu {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 113%;
    width: auto;
    height: 100px;
    padding: 0;
    margin: 0;
    background-color: white;
    z-index: 1000;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}

.active {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.submenu li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    position: relative;
    width: 100px;
    font-size: 12px;
}

.submenu li:not(:nth-last-child(1)):not(:nth-last-child(2))::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 25%;
    bottom: 25%;
    width: 3px;
    background-color: black;
}

.submenu::after {
    content: '';
    position: absolute;
    bottom: -20px;
    height: 2px;
    background-color: #00AEEF;
    z-index: 1;
}

.close-button {
    position: absolute;
    bottom: -40px;
    right: 50%;
    transform: translateX(50%);
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    background-color: #000;
    border: 6px solid #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    bottom: -15px;
}

.social-media-icons {
    display: flex;
    justify-content: right;
    height: 30px;
    margin-right: 0;
}

.social-icon {
    color: #00AEEF;
    font-size: 16px;
    padding: 2px;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.social-icon:last-child {
    margin-right: 0;
}

.social-icon i {
    transition: color 0.3s ease;
}

#logout-link {
    margin-left: 60px;
}

/* Media query for responsiveness */
@media (max-width: 900px) {
    #logo {
        width: 100px;
    }

    .page-header {
      justify-content: center;
    }
  
    .social-media-icons,
    #Navigator {
      width: 100%;
      height: auto;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 0;
    }

    
    .social-media-icons {
        height: 20px;
    }

    .social-icon {
        color: #00AEEF;
        font-size: 10px;
        padding: 2px;
        margin: 0 5px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    }

    #Navigator a {
        flex-basis: 100%;
        margin-top: 5px;
        width: auto;
        height: 30px;
        vertical-align: middle;
        text-align: center;
        line-height: 20px;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 7px;
        font-weight: bolder;
        text-decoration: none;
        color: currentColor;
        margin-top: 10px;
        margin-bottom: 5px;
        border-bottom: 4px solid transparent;
        white-space: normal;
        line-height: normal;
    }

    .submenu {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 113%;
        width: auto;
        height: 70px;
        padding: 0;
        margin: 0;
        background-color: white;
        z-index: 1000;
        list-style: none;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
    }

    .active {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    .submenu li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 8px;
        position: relative;
        width: 50px;
        font-size: 6px;
    }

    .close-button {
        position: absolute;
        bottom: -30px;
        right: 50%;
        transform: translateX(50%);
        cursor: pointer;
        font-size: 16px;
        color: #fff;
        background-color: #000;
        border: 4px solid #fff;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        z-index: 2;
        bottom: -10px;
    }

    .Content h4 {
        font-size: 12px;
    }
}


@media (max-width: 480px) {
    #logo {
        width: 40px;
    }

    .page-header {
      justify-content: center;
    }

    #Navigator a:hover{
        margin-bottom: 5px;
        border-bottom: 2px solid #00AEEF;
    }
  
    .social-media-icons,
    #Navigator {
      width: 100%;
      height: auto;
      justify-content: center;
      margin-top: 0;
      margin-bottom: 0;
    }

    
    .social-media-icons {
        height: 10px;
    }

    .social-icon {
        color: #00AEEF;
        font-size: 6px;
        padding: 2px;
        margin: 0 5px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    }

    #Navigator a {
        flex-basis: 100%;
        margin-top: 5px;
        width: auto;
        height: 10px;
        vertical-align: middle;
        text-align: center;
        line-height: 10px;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 5px;
        font-weight: bolder;
        text-decoration: none;
        color: currentColor;
        margin-top: 0;
        margin-bottom: 5px;
        border-bottom: 4px solid transparent;
        white-space: normal;
        line-height: normal;
    }

    .submenu {
        width: 100%;
        top: 180%;
        height: 78px;
    }

    .active {
        display: block;
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    .submenu li {
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        font-size: 3px;
    }

    .submenu li:last-child, li:nth-last-child(2) {
        border-bottom: none;
    }

    .submenu li:not(:nth-last-child(1)):not(:nth-last-child(2))::after {
        content: '';
        display: none;
        position: absolute;
        bottom: 0;
        width: 3px;
        background-color: black;
    }
    
    .submenu::after {
        content: '';
        position: absolute;
        bottom: -20px;
        height: 2px;
        background-color: #00AEEF;
        z-index: 1;
    }

    .close-button {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        cursor: pointer;
        font-size: 6px;
        color: #fff;
        background-color: #000;
        border: 1px solid #fff;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        z-index: 2;
        bottom: -12px;
    }

    .Content h4 {
        font-size: 6px;
    }
}